<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ $title := .Title | default .Site.Title }}
	{{ $description := .Description | default .Site.Params.Description }}
	{{ $image := .Params.image | default (.Scratch.Get "avatarImgSrc") }}
	{{ $siteKeywords := .Site.Params.MetaKeywords | default (slice) }}
	{{ $postKeywords := .Params.tags | default (slice) }}
	{{ $keywords := union $siteKeywords $postKeywords }}

	<title>{{ $title }}</title>
	<meta name="description" content="{{ $description }}">
	<meta name="keywords" content="{{ delimit $keywords ", "}}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ $title }}">
	<meta property="og:description" content="{{ $description }}">
	<meta property="og:image" content="{{ absURL $image }}">
	<link rel="canonical" href="{{ .Permalink }}">

	<link rel="icon" href="{{ "/images/profile_pic.png" | relURL }}" type="image/png">
	{{ $cssPortfolio := resources.Get "css/portfolio.css" | minify | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $cssPortfolio.RelPermalink }}">
</head>